<form action="?" method="post" id="addQueue" name="userLogin">
  <table>
    <tr>
      <th>
        <label>Nom de la file d'attente:</label>
      </th>
      <td>
        <input type="text" name="queueName" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th>
        <label>Mot de passe:</label>
      </th>
      <td>
        <input type="password" name="queuePassword" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th>
        <label>Commentaire (optionnel):</label>
      </th>
      <td>
        <input type="text" name="queueComment" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <input type="submit" name="addQueue" value="Add queue"></input>
      </th>
    </tr>
  </table>
</form>
<div class="tip">
  <p>
    Créez une file d'attente et divulguez le mot de passe aux étudiants.
  </p>
  <p>
    Ils pourront ensuite s'abonner à cette file d'attente et prendre des tickets.
  </p>
</div>

