<form action="?" method="post" id="addQueue" name="userLogin">
  <table>
    <tr>
      <th>
        <label>Queue name:</label>
      </th>
      <td>
        <input type="text" name="queueName" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th>
        <label>Queue password:</label>
      </th>
      <td>
        <input type="password" name="queuePassword" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th>
        <label>Optionnal comment:</label>
      </th>
      <td>
        <input type="text" name="queueComment" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <input type="submit" name="addQueue" value="Add queue"></input>
      </th>
    </tr>
  </table>
</form>
