<div id="header">
  <h1>{WelcomeTitle}</h1>
  <b>{WelcomeMessage}</b>
</div>
<!-- BEGIN teacherMenu -->
<div id="menu">
  <b>Teacher menu: </b>
  <a href="?addQueue">
    Create a queue</a>
  |
  <a href="?listQueues">
    Select a queue</a>
  |
  <a href="">
    Reload</a>
  |
  <a href="?logout">
    Logout</a>
</div>
<!-- END teacherMenu -->
<!-- BEGIN studentMenu -->
<div id="menu">
  <b>Student menu: </b>
  <a href="?logout">
    Logout</a>
</div>
<!-- END studentMenu -->
<div id="content">
  {CONTENT}
</div>
<div id="leftContent">
  <!-- BEGIN messageBlock -->
  <div id="message">
    {message}
  </div>
  <!-- END messageBlock -->
  <!-- BEGIN errorMessageBlock -->
  <div id="errorMessage">
    <b>Error:</b>
    {errorMessageDisplay}
  </div>
  <!-- END errorMessageBlock -->
</div>

<div id="footer">
  WaitingQueue - the easiest queue management system - copyleft 2005 Damien Corpataux
</div>

