<form action="?" method="post" id="userLogin" name="userLogin">
  <table>
    <tr>
      <th>
        <label>Username:</label>
      </th>
      <td>
        <input type="text" name="username" value="" size="32"></input>
      </td>
    </tr>
    <tr>
      <th>
        <label>Password:</label>
      </th>
      <td>
        <input type="password" name="password" value="" size="40"></input>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <input type="submit" name="userLogin" value="Login"></input>
      </th>
    </tr>
  </table>
</form>
